%div.single-collection-container
  %h4
    = @collection.name
  %p
    = @collection.description
  %p
    = link_to "Delete this List", user_collection_path(current_user, @collection.id), method: :delete
  %ul
    - @collection.games.each do |game|
      %li
        = game.title
        = link_to "Delete from List", game_assignment_path(@collection.id, :game_id => game.id), method: :delete
